services:
  db:
    image: postgres:16
    container_name: cookbook_db
    restart: always
    env_file: ./backend/postgres.env # Hier postgres-example.env verwenden!
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  backend:
    build: ./backend
    container_name: fastapi
    restart: always
    env_file: ./backend/fastapi.env
    environment:
      - DB_DOMAIN=db
    ports:
      - "8000:8000"
    volumes:
      - apidata:/var/family-cookbook-api/images/recipes
    depends_on:
      - db

volumes:
  pgdata:
  apidata: